:root {
    --pokédex-element-height: 120px;
    --pokédex-element-width: 220px;
    --pokédex-element-margin: 32px;
    --pokémon-entry-height: 700px;
    --pokémon-entry-width: 350px;
    --pokémon-entry-padding: 20px;
    --main-border-radius: 20px;
    --pokémon-picture-height: 250px;
    --main-font-size: 16px;
    --font-color-primary: rgb(43, 44, 44);
    --font-color-secondary: rgb(170, 171, 172);
    --font-color-tertiary: rgb(199, 200, 202);
    --main-box-shadow: 0 0 20px white;
}

.d-none {
    display: none;
    transition: 225ms ease-in-out;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--main-font-size);
}

.background-image {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-image: url(img/background.jpg);
    background-size: cover;
    z-index: -3;
}

.opened-entry-bg {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.page-content {
    margin: 7%;
    font-size: 16px;
}

.header {
    background-color: rgba(255, 255, 255, 0.85);
    color: white;
    height: 100px;
    margin-bottom: 2%;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gen-btn {
    position: relative;
    height: 36px;
    width: 70px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    color: rgb(255, 255, 255);
/*     background: linear-gradient(rgb(255, 238, 0), rgb(255, 204, 0));
    text-shadow: 0 1px 0 rgb(252, 243, 126);
    border: solid 2px rgb(252, 243, 126); */
    background: linear-gradient(rgb(108, 137, 231), rgb(39, 53, 248), rgb(0, 12, 182));
    text-shadow: 0 1px 0 rgb(108, 137, 231);
    border: solid 2px rgb(108, 137, 231);
}

.gen-btn:hover {
    cursor: pointer;
    background: linear-gradient(rgb(69, 103, 212), rgb(39, 53, 248), rgb(0, 8, 122));
    box-shadow: 0 0 10px white;
    text-shadow: unset;
}

#gen1-icon {
    position: absolute;
    top: -4px;
    left: -28px;
}

#gen2-icon {
    position: absolute;
    top: -47px;
    left: 0px;
}

#gen3-icon {
    position: absolute;
    top: -36px;
    left: 40px;
}

.pokédex {
    background-color: rgba(255, 255, 255, 0.85);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokédex-element {
    position: relative;
    margin: var(--pokédex-element-margin);
    height: var(--pokédex-element-height);
    min-width: var(--pokédex-element-width);
    border: 2px solid white;
    box-shadow: var(--main-box-shadow);
    border-radius: var(--main-border-radius);
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    /* background-color: rgba(240, 128, 48, 1); */
}

.pokédex-name {
    font-size: 20px;
    font-weight: 500;
    margin-top: 12px;
}

.pokédex-type-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pokédex-type-box button {
    margin: 4px;
    cursor: pointer;
}

.pokédex-image-box {
    position: absolute;
    right: -20px;
    top: -20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.pokédex-image-box img {
    height: calc(var(--pokédex-element-height) + 30px);
    width: calc(var(--pokédex-element-width) / 1.5);
}

.footer {
    background-color: rgba(255, 255, 255, 0.85);
    color: white;
    height: 30px;
    margin-top: 2%;
    border-radius: 5px;
}

.pokédex-single {
    position: fixed;
    height: var(--pokémon-entry-height);
    /* width: var(--pokémon-entry-width); */
    z-index: 1;
    top: 50%;
    left: 46%;
    margin-top: calc(var(--pokémon-entry-height)*(-1)/2);
    margin-left: calc(var(--pokémon-entry-width)*(-1)/2);
    /* left: 50%; */
}

.pokémon-entry {
    position: relative;
    /* top: 20%; */
    /* left: -50%; */
    height: var(--pokémon-entry-height);
    width: var(--pokémon-entry-width);
    background-color: white;
    border: 2px solid white;
    border-radius: var(--main-border-radius);
    padding: var(--pokémon-entry-padding);
    display: flex;
    flex-direction: column;
}

.pokémon-entry-background-picture {
    position: absolute;
    bottom: 50%;
    width: calc(100% - 4px);
    /* without border left and right */
    /* new */
    height: 50%;
    object-fit: cover;
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
    z-index: 4 !important;
    left: 2px;
    /* left: calc(-50% + 2px); */
    top: 2px;
    opacity: 0.7;
}

.pokémon-entry-background-layer {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    height: var(--pokémon-entry-height);
    width: var(--pokémon-entry-width);
    border-radius: var(--main-border-radius);
    z-index: 5 !important;
}

.arrow-zone, .pokémon-number, .pokémon-name, .pokémon-type-box {
    z-index: 6 !important;
}

.arrow-zone {
    position: absolute;
    width: inherit;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

.arrow-zone i {
    cursor: pointer;
}

.pokémon-name {
    height: 40px;
    /* background-color: rgb(205, 50, 50); */
    font-size: 28px;
    color: white;
    margin-bottom: 12px;
    margin-left: 4px;
}

.pokémon-number {
    margin-top: 50px;
    text-align: end;
    color: white;
}

.type-btn {
    height: 28px;
    width: 75px;
    border-radius: var(--main-border-radius);
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.pokémon-image-box {
    display: flex;
    justify-content: flex-end;
    z-index: 7 !important;
}

.pokémon-image-box img {
    height: var(--pokémon-picture-height);
    margin-top: -40px;
}

.pokémon-info {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 55%;
    overflow-x: hidden;
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-radius: var(--main-border-radius);
    z-index: 6 !important;
}

.pokémon-info-content {
    height: 92%;
    overflow: scroll;
}

.pokémon-info-headlines {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    border-bottom: 2px solid rgb(244, 243, 251);
    margin-left: 28px;
    margin-right: 28px;
    color: var(--font-color-tertiary);
}

#about, #base-stats, #moves {
    padding-bottom: 12px;
    cursor: pointer;
}

#about, #base-stats, #moves {
    border-bottom: 2px solid rgb(112, 112, 112);
    margin-bottom: -2px;
    color: var(--font-color-primary);
    font-weight: bold;
}

.noHighlighting {
    border-bottom: unset !important;
    margin-bottom: unset !important;
    color: var(--font-color-tertiary) !important;
    font-weight: unset !important;
}

.info-table {
    position: absolute;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.about-table {
    transform: translateX(0);
    transition: 225ms ease-in-out;
}

.base-stats-table {
    transform: translateX(calc(var(--pokémon-entry-width) + 40px));
    transition: 225ms ease-in-out;
}

.moves-table {
    transform: translateX(calc(var(--pokémon-entry-width)*2 + 80px));
    transition: 225ms ease-in-out;
}

.about-table tbody tr td:first-child {
    color: var(--font-color-secondary);
    width: calc(var(--pokémon-entry-width) / 2.8);
}

.about-table tbody tr td:nth-child(2) {
    color: var(--font-color-primary);
}

.base-stats-table tbody tr td:first-child {
    color: var(--font-color-secondary);
    font-weight: bold;
    width: calc(var(--pokémon-entry-width) * 0.25);
}

.base-stats-table tbody tr td:nth-child(2) {
    color: var(--font-color-primary);
    font-weight: bold;
    width: calc(var(--pokémon-entry-width) * 0.1);
}

.base-stats-bar-container {
    width: calc(var(--pokémon-entry-width) * 0.6);
    height: 3px;
    background-color: rgb(244, 243, 251);
}

.base-stats-bar-value {
    height: 3px;
    background-color: yellowgreen;
}

.moves-table thead tr td:first-child {
    width: calc(var(--pokémon-entry-width) * 0.2);
    color: var(--font-color-secondary);
    font-weight: bold;
    line-height: 32px;
    text-align: center;
}

.moves-table thead tr td:nth-child(2) {
    width: calc(var(--pokémon-entry-width) * 0.8);
    color: var(--font-color-secondary);
    font-weight: bold;
    padding-left: 20px;
}

.moves-table tbody tr td:first-child {
    text-align: center;
    font-weight: bold;
}

.moves-table tbody tr td:nth-child(2) {
    padding-left: 20px;
}

/* TYPE BUTTONS */

.normal-btn {
    background: linear-gradient(rgb(212, 212, 185), rgb(168, 168, 120));
    text-shadow: 0 1px 0 rgb(204, 204, 186);
    border: solid 2px rgb(230, 230, 226);
}

.fighting-btn {
    background: linear-gradient(rgb(214, 102, 96), rgb(192, 48, 40));
    text-shadow: 0 1px 0 rgb(223, 123, 117);
    border: solid 2px rgb(223, 123, 117);
}

.flying-btn {
    background: linear-gradient(rgb(213, 201, 250), rgb(168, 144, 240));
    text-shadow: 0 1px 0 rgb(195, 182, 238);
    border: solid 2px rgb(195, 182, 238);
}

.poison-btn {
    background: linear-gradient(rgb(199, 111, 199), rgb(160, 64, 160));
    text-shadow: 0 1px 0 rgb(209, 143, 209);
    border: solid 2px rgb(209, 143, 209);
}

.ground-btn {
    background: linear-gradient(rgb(241, 214, 139), rgb(224, 192, 104));
    text-shadow: 0 1px 0 rgb(250, 234, 189);
    border: solid 2px rgb(245, 220, 151);
}

.rock-btn {
    background: linear-gradient(rgb(214, 191, 90), rgb(167, 142, 35));
    text-shadow: 0 1px 0 rgb(233, 211, 116);
    border: solid 2px rgb(218, 195, 97);
}

.bug-btn {
    background: linear-gradient(rgb(200, 216, 57), rgb(131, 184, 32));
    text-shadow: 0 1px 0 rgb(219, 230, 121);
    border: solid 2px rgb(219, 231, 105);
}

.ghost-btn {
    background: linear-gradient(rgb(130, 117, 151), rgb(102, 73, 150));
    text-shadow: 0 1px 0 rgb(144, 136, 158);
    border: solid 2px rgb(144, 136, 158);
}

.steel-btn {
    background: linear-gradient(rgb(202, 202, 206), rgb(167, 167, 170));
    text-shadow: 0 1px 0 rgb(226, 226, 230);
    border: solid 2px rgb(203, 203, 206);
}

.fire-btn {
    /* background-color: rgb(240, 128, 48); */
    background: linear-gradient(rgb(254, 190, 77), rgb(240, 128, 48));
    text-shadow: 0 1px 0 rgb(250, 215, 154);
    border: solid 2px rgb(250, 215, 154);
}

.water-btn {
    background: linear-gradient(rgb(146, 173, 236), rgb(104, 144, 240));
    text-shadow: 0 1px 0 rgb(194, 207, 238);
    border: solid 2px rgb(194, 207, 238);
}

.grass-btn {
    background: linear-gradient(rgb(162, 221, 133), rgb(120, 200, 80));
    text-shadow: 0 1px 0 rgb(176, 238, 144);
    border: solid 2px rgb(176, 238, 144);
}

.electric-btn {
    background: linear-gradient(rgb(248, 235, 48), rgb(248, 208, 48));
    text-shadow: 0 1px 0 rgb(252, 243, 126);
    border: solid 2px rgb(252, 243, 126);
}

.psychic-btn {
    background: linear-gradient(rgb(248, 129, 165), rgb(248, 88, 187));
    text-shadow: 0 1px 0 rgb(253, 179, 201);
    border: solid 2px rgb(253, 179, 201);
}

.ice-btn {
    background: linear-gradient(rgb(192, 226, 226), rgb(134, 211, 211));
    text-shadow: 0 1px 0 rgb(164, 191, 245);
    border: solid 2px rgb(243, 247, 255);
}

.dragon-btn {
    background: linear-gradient(rgb(123, 100, 253), rgb(85, 56, 248));
    text-shadow: 0 1px 0 rgb(170, 137, 248);
    border: solid 2px rgb(170, 137, 248);
}

.dark-btn {
    background: linear-gradient(rgb(112, 88, 72), rgb(75, 51, 36));
    text-shadow: 0 1px 0 rgb(122, 104, 91);
    border: solid 2px rgb(122, 104, 91);
}

.fairy-btn {
    background: linear-gradient(rgb(249, 206, 252), rgb(249, 173, 255));
    text-shadow: 0 1px 0 rgb(253, 221, 255);
    border: solid 2px rgb(253, 221, 255);
}

/* TYPE BACKGROUND COLORS */

.normal {
    background-color: rgb(182, 182, 165);
}

.fighting {
    background-color: rgb(192, 48, 40);
}

.flying {
    background-color: rgb(168, 144, 240);
}

.poison {
    background-color: rgb(160, 64, 160);
}

.ground {
    background-color: rgb(224, 192, 104);
}

.rock {
    background-color: rgb(184, 160, 56);
}

.bug {
    background-color: rgb(168, 184, 32);
}

.ghost {
    background-color: rgb(112, 88, 152);
}

.steel {
    background-color: rgb(210, 210, 215);
}

.fire {
   /*  background-color: rgb(240, 128, 48); */
    background-color: rgb(243, 102, 92);
}

.water {
    background-color: rgb(104, 144, 240);
}

.grass {
    background-color: rgb(120, 200, 80);
}

.electric {
    background-color: rgb(248, 208, 48);
}

.psychic {
    background-color: rgb(248, 88, 187);
}

.ice {
    background-color: rgb(152, 216, 216);
}

.dragon {
    background-color: rgb(85, 56, 248);
}

.dark {
    background-color: rgb(112, 88, 72);
}

.fairy {
    background-color: rgb(249, 173, 255);
}

/* TYPE LAYERS */

.normal-layer {
    background-color: rgba(219, 219, 194, 0.2);
}

.fighting-layer {
    background-color: rgba(192, 48, 40, 0.1);
}

.flying-layer {
    background-color: rgba(168, 144, 240, 0.3);
}

.poison-layer {
    background-color: rgba(160, 64, 160, 0.1);
}

.ground-layer {
    background-color: rgba(224, 192, 104, 0.5);
}

.rock-layer {
    background-color: rgba(184, 160, 56, 0.5);
}

.bug-layer {
    background-color: rgba(168, 184, 32, 0.2);
}

.ghost-layer {
    background-color: rgba(112, 88, 152, 0.5);
}

.steel-layer {
    background-color: rgba(210, 210, 215, 0.1);
}

.fire-layer {
    background-color: rgba(240, 77, 48, 0.2);
}

.water-layer {
    background-color: rgba(104, 144, 240, 0.4);
}

.grass-layer {
    background-color: rgba(120, 200, 80, 0.2);
}

.electric-layer {
    background-color: rgba(248, 208, 48, 0.2);
}

.psychic-layer {
    background-color: rgba(248, 88, 187, 0.5);
}

.ice-layer {
    /* background-color: rgba(152, 216, 216, 0.1); */
    background-color: rgba(255, 255, 255, 0.2);
}

.dragon-layer {
    background-color: rgba(85, 56, 248, 0.3);
}

.dark-layer {
    background-color: rgba(112, 88, 72, 0.1);
}

.fairy-layer {
    background-color: rgba(249, 173, 255, 0.3);
}